/* Header Style Start */
.container {
    position: relative;
    margin: 0px;    
}

  .logo {
    position: absolute;
    top: 12px;
    left: 30px;
    font-family: 'Peralta';
    font-weight: bold 900;
    font-size: 45px;
    color:black;
  }
  .topright {
    position: absolute;
    top: 8px;
    right: 30px;
  }
  .left {
    position: absolute;
    top: 390px;
    left: 30px;
  }
  .left h1{
    color:#4B40C5;
    font-family:'Poppins', sans-serif;
    font-weight:600;
    font-size:45px;
  }
  .left h3{
    color:white;
    font-family: 'Poppins', sans-serif;
    font-weight:600;
    font-size:32px;
  }
  .btn-left{
    padding: 16px 25px;
    border-radius: 15px;
    font-family:'Poppins', sans-serif;
    text-decoration: none;
    font-size: 23px;
    color: #FFF1DA;
    position: relative;
    line-height: 35px;
    background-color: #4B40C5;
  }
  
  ul{
    display: flex;
    top:20px;
    align-items: center;
    gap: 50px;
    list-style: none;
    left:400px;
 }
 ul,li{
    font-family: Poppins;
     font-weight: bold;
     font-size: 20px;
     color:#212832;
     
 }
 .login-btn, .signup-btn{
    padding: 10px 20px;
    border-radius: 10px;
    color:white;
    position: relative;
    line-height: 25px;
    background-color: #EC682C
 }
 /* Header Style End */

 /* Section 1 Style Start */
 .section1{
  position: relative;
 }
 .category{
  font-family: Poppins;
  font-weight: 700;
  font-size: 22px;
  color:#4B40C5;
 }
.offer{
  font-family: Poppins;
  font-size: 50px;
  font-weight: 700;
  color:#14183E
}
 .div{
  display: flex;
 }
 .one{
  margin-left: 30px;
  margin-top: 60px;
 }

 .three{
  margin-top: 20px;
 }
 .four{
  margin-top: 60px;
  margin-left:100px;
 }
 .one h4{
  font-family: Poppins;
  font-size: 17px;
  font-weight: 500;
 }
 .one h6{
  font-family: Poppins;
  font-size: 15px;
  font-weight: 400;
 }
 .four h4{
  font-family: Poppins;
  font-size: 17px;
  font-weight: 500;
 }
 .four h6{
  font-family: Poppins;
  font-size: 15px;
  font-weight: 400;
 }

 .plane{
  position: absolute;
  left: 300px;
  top:60px;
 }

 .three{
  position: absolute;
  left:930px;
  
 }
 .two h4{
  position: absolute;
  top:360px;
  left:445px;
  font-family: Poppins;
  font-size: 17px;
  font-weight: 500;
 }
 .two h6{
  position: absolute;
  top:400px;
  left:415px;
  font-family: Poppins;
  font-size: 15px;
  font-weight: 400;
  text-align: center;
 }
.Rectorange{
  width:117px;
  height:125px;
  margin-top:280px;
  margin-left:100px;
}
.rect1{
  position: absolute;
  margin-left:-180px;
  margin-top:-30px;
}
.Rectblue{
  width:117px;
  height:125px;
}
.rect2{
  position: absolute;
  margin-left:-250px;
  margin-top:-50px;
}
.Rectblue{
  margin-left:600px;
  margin-top:-55px;
}
.mike{
  position: absolute;
  left:900px;
  top:250px;
}
.local{
  position: absolute;
  left:900px;
  top:350px;
  font-family: Poppins;
  font-size: 17px;
  font-weight: 500;
 
}
 .get{
  position:absolute;
  left:875px;
  top:380px;
  font-family: Poppins;
  font-size: 15px;
  font-weight: 400;
  text-align: center; 

 }
 

 /* Section 1 Style End */


/* Section 2 Style Start */


 .topselling {
  font-family: Poppins;
  font-weight: 700;
  line-height: 30px;
  font-size: 18px;
  color:#4B40C5;
 }
 .destination{
  font-family: Poppins;
  font-weight: 700;
  font-size: 35px;
  line-height: 40px;
  color: #14183E;
 }
 .img1
 {
  width:417px;
  Height:607px;
  left:21px;
  border-radius: 31px; 
   
}
.img2
{
 width:417px;
 Height:607px;
 left:21px;
 border-radius: 31px;
}
.img3
{
 width:417px;
 Height:607px;
 left:21px;
 border-radius: 31px;;
}

.card{
  position: relative;
}
.rectimg1{
  position: absolute;
  left:114px;
  width: 320px;
  height: 124px;
  top:312px;
}
.rectimg2{
  position: absolute;
  left:589px;
  width: 277px;
  height: 124px;
  top:312px;
}
.rectimg3{
  position: absolute;
  right: 125px;
  width: 312px;
  height: 124px;
  top:312px;
}
.rome{
  position: absolute;
  left:130px;
  top:312px;
  font-family: poppins;
  font-weight: 500;
  color: #5e6282;
}
.amnt1{
  position: absolute;
  left:324px;
  top:312px;
  font-family: poppins;
  font-weight: 500;
  color: #5e6282;
}
.days1{
  position: absolute;
  left:155px;
  top:360px;
  font-family: poppins;
  font-weight: 500;
  color: #5e6282;
  font-size: 14px;
  padding: 10px;
}
.london{
  position: absolute;
  left:605px;
  top:312px;
  font-family: poppins;
  font-weight: 500;
  color: #5e6282;
}
.amnt2{
  position: absolute;
  left:760px;
  top:312px;
  font-family: poppins;
  font-weight: 500;
  color: #5e6282;
}
.days2{
  position: absolute;
  left:625px;
  top:360px;
  font-family: poppins;
  font-weight: 500;
  color: #5e6282;
  font-size: 14px;
  padding: 10px;
}
.europe{
  position: absolute;
  right:330px;
  top:312px;
  font-family: poppins;
  font-weight: 500;
  color: #5e6282;
}
.amnt3{
  position: absolute;
  right:165px;
  top:312px;
  font-family: poppins;
  font-weight: 500;
  color: #5e6282;
}
.days3{
  position: absolute;
  right:295px;
  top:360px;
  font-family: poppins;
  font-weight: 500;
  color: #5e6282;
  font-size: 14px;
  padding: 10px;
}
.days1::before{
content:url("./Images/Vector.svg");
position: absolute;
left:-25px;
}
.days2::before{
  content:url("./Images/Vector.svg");
  position: absolute;
  left:-25px;
  }
  .days3::before{
    content:url("./Images/Vector.svg");
    position: absolute;
    left:-25px;;
  }

/* Section 2 Style End */

/* Section 4 style satrt */
.sec4{
  display:flex;
}
.head h2{
  font-family: Poppins;
  font-size: 35px;
  font-weight: 700;
  color:#7F2736;
}
.head span{
  color:#2C2D32;
  font-weight: 600;
}
.head p{
  font-family: Poppins;
  font-size: 20px;
  font-weight: 400;
  line-height: 43px;
  color:#2C2D32;
}
.sec4div1::before{
  content: url(./Images/whitestar.svg);
  margin-top:15px;
  margin-left:175px;
  position: absolute;
  border-radius:100px;
  background-color: #4B40C5;
  padding:20px;
}
.sec4div2::before{
  content:url(./Images/whiteworld.svg);
  position: absolute;
  margin-top:15px;
  margin-left:175px;
  background-color: #F0BB1F;
  border-radius:100px;
  padding:20px;
}
.sec4div3::before{
  content:url(./Images/whitelike.svg);
  position: absolute;
  margin-top:15px;
  margin-left:175px;
  border-radius:100px;
  padding:20px;
  background-color: #F15A2B;
}
.sec4div1 .card1{
  position: absolute;
  margin-top: -370px;
  margin-left: 80px;
}
.sec4div1 .card1 h4{
  font-family: poppins;
  font-weight: 500;
  font-size:30px;
}
.sec4div1 .card1 p{
  font-family: Poppins;
  font-weight: 400;
  font-size:18px;
}
.sec4div2 .card2{
  position: absolute;
  margin-top: -370px;
  margin-left: 80px;
}
.sec4div2 .card2 h4{
  font-family: poppins;
  font-weight: 500;
  font-size:30px;
}
.sec4div2 .card2 p{
  font-family: Poppins;
  font-weight: 400;
  font-size:18px;
}
.sec4div3 .card3{
  position: absolute;
  margin-top: -370px;
  margin-left: 80px;
}
.sec4div3 .card3 h4{
  font-family: poppins;
  font-weight: 500;
  font-size:30px;
}
.sec4div3 .card3 p{
  font-family: Poppins;
  font-weight: 400;
  font-size:18px;
}
/* Section 4 Style End */

/* Section 5 style start */
.section5{
  background-color: #DFD7F9;
  
}
.section5::before{
content:url(./Images/share.svg);
margin-left:1380px;
}
.sec5div1{
  font-family: poppins;
  font-weight: 600;
  font-size:28px;
  line-height: 71px;
  color:#5E6282;
}
.sec5div2{
  display: flex;
  
}
.sec5div2 p{
  position: absolute;
  margin-top:25px;
  font-family: Montserrat;
  font-weight:400;
  font-size: 15px;
}
.sec5rect{
  margin-left:365px;
  width:430px;
}
.sec5div2 p::before{
  content: url(./Images/message.svg);
  margin-left: 390px;
  top:50px;
  padding:10px;
}
.btn5{
  padding: 16px 38px;
  border-radius: 12px;
  font-family:'Poppins', sans-serif;
  font-weight: 400;
  text-decoration: none;
  font-size: 20px;
  color: white;
  
  line-height: 35px;
  background-color:#FF946D;
}
.footdiv1{
  display: flex;
  justify-content: center;
  justify-content: space-between;
  
}
